extends ../layout

block content
  include ../partials/nav-main
  section
    .container
      h1 Hello Tutorial!
      p. 
        By the end of this tutorial, you'll be up and running with Express,
        Knex, and Bookshelf. We'll then implement the simplest Endpoints
        integration- using only Endpoints.Controller to create a single
        route that serves data from a sqlite3 database to the browser.
      ul
        li
          a(href="/tutorial/step-0") Step 0: Hello, Express!
        li
          a(href="/tutorial/step-1") Step 1: Hello, Knex!
        li
          a(href="/tutorial/step-2") Step 2: Hello, Bookshelf!
        li
          a(href="/tutorial/step-3") Step 3: Hello, Endpoints!
  
