extends ../layout

block content
  include ../partials/nav-main
  section
    .container
      h1 Tutorial
      ul
        li
          a(href="/tutorial/step-0") Step 0: Hello, Express!
        li
          a(href="/tutorial/step-1") Step 1: Hello, Knex!
        li
          a(href="/tutorial/step-2") Step 2: Hello, Bookshelf!
