nav.side-nav
  .container
    ul
      li
        a(href="/guides/introduction") Introduction
      li
        a(href="/guides/up-and-running") Up and Running
      li
        a(href="/guides/app-structure") Application Structure
      li
        a(href="/guides/data-overview") Dataflow Overview
      li
        a(href="/guides/core-modules") The Core Modules
        ul
          li
            a(href="/guides/controller-module") Controller
          li
            a(href="/guides/adapter-module") Adapter
          li
            a(href="/guides/request-module") Request
          li
            a(href="/guides/response-module") Response
