nav.main
  div.container
    ul.main-nav
      li
        a(href="/about") About
      li
        a(href="/guides") Guides
      li
        a(href="/")
          img(src="/img/logo.png", width="150px")
          h2 endpoints
      li
        a(href="/tutorial") Tutorial
      li
        a(href="/api/endpoints/0.7.1/index.html") API Docs
