nav
  .container
    ul.guides-nav
      li
        a(href="#") Introduction
      li
        a(href="#") Up and Running
      li
        a(href="#") Application Structure
      li
        a(href="#") Dataflow Overview
      li
        p The Core Modules
        ul
          li
            a(href="#") Controller
          li
            a(href="#") Source
          li
            a(href="#") Request
          li
            a(href="#") Response
