ul {
  list-decoration-type: none;
  margin: 0;
  text-align: center;
}

ul li {
  padding: 20px;
  display: inline-block;
}

header {
  margin-top: 6rem;
  text-align: center;
}

.subtitle {
  margin: 0 auto;
  width: 60%;
}

pre {
  background-color: #F2F2F3;
  padding: 5px;
  text-align: left;
}
