extends ../layout

block content
  include ../partials/nav-main
  .container
    .row
      .three.columns
        include ../partials/nav-guides
      .nine.columns
        h1 Guides
        p Welcome! This guide exists to give a more conceptual overview of the elements of the endpoints framework as well as explain the reasoning and thought process behind many of its opinionated decisions.</p>
        p Looking for more implementation specific documentation? Check out the <a href="api-docs/endpoints/0.5.6/index.html">API docs</a>!
