extends ../layout

block content
  include ../partials/nav-main
  .container
    .row
      .three.columns
        include ../partials/nav-guides
      .nine.columns
        section.chapter
          p!= topic_data
