doctype html
html(lang="en")
  head
    title endpoints - an opinionated API framework for nodeJS
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600", rel="stylesheet", type="text/css")
    link(href="/vendor/Skeleton-2.0.4/css/normalize.css", rel="stylesheet")
    link(href="/vendor/Skeleton-2.0.4/css/skeleton.css", rel="stylesheet")
    link(href="/styles/custom.css", rel="stylesheet")
  body
    block content
